%h3 You are homeless, come in from the cold!
%p If you have been invited to a dwelling click the link in the invite email to join the dwelling.
= link_to 'Create new Dwelling', new_dwelling_path
= link_to 'Find your house' # link to page to find houses
