.hero-unit
  .row
    .span5.offset3
      %h1 Live your life, we'll handle the details.
      %p Living space, bill handling, and other solutions to optimize your rooming experience across the board.
    .span4
      = render :partial => "users/lite_form"

