.row
  .span8
    .hero-unit
      %h1 
        Live your life, we'll handle the details.
        .sub-heading
          %small Living space, bill handling, and other solutions to optimize your rooming experience across the board.
  .span4
    = render :partial => "users/lite_form"
