%table.table.table-condensed
  %thead
    %td Email Adress
    %td 

  - if @invites.any?
    - for invite in @invites
      %tr
        %td= invite.email
        %td= link_to 'Delete', [invite.dwelling, invite], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  - else
    %td No Invites
