.body-container
  .feed-container
    .inner-body
      .feed-info-container
        %br
        = render 'messages/details', message: @message

  = link_to 'Edit', @message
  \|
  = link_to 'Back', messages_path
