%h1 Here's a big list of my transaction history

%table
  %tr
    %th Date
    %th Amount
    %th Method
    %th Bill
  - @bill_payments.each do |payment|
    %tr
      %td= payment.created_at.to_s
      %td= number_to_currency(payment.amount)
      %td= payment.method
      %td= payment.bill.name
