%h1 Editing bill

= render 'form'

= link_to 'Show', dwelling_bill_path(:dwelling_id => @bill.dwelling_id, :id => @bill.id)
\|
= link_to 'Back', dwelling_bills_path(:dwelling_id => @bill.dwelling_id)
