%h1 Dwelling Lists


- @shopping_lists.each do |shopping_list|
  = render 'details', shopping_list: shopping_list

%br

= link_to 'New Shopping list', new_shopping_list_path, class: 'btn btn-block btn-inverse'

