.body-container
  .feed-container
    .inner-body
      .feed-info-container  
        %br
        = render 'posts/details', post: @post
        = render 'comments/form', dwelling_item: @post, comment: @post.comments.build

  = link_to 'Edit', @post
  \|
  = link_to 'Back', posts_path
