%h1 DONT BE LAZY!


%br

%ul.chores
	- @chores.active.each do |chore|
		= render 'chores/details', chore: chore


= link_to 'New Chore', new_chore_path


/ .feed-container
/ 	.inner-body
/ 		.feed-info-container
/ 			%h1 Listing events
/ 			.new-event
/ 				= link_to 'New Chore', new_chore_path, class: 'btn btn-block btn-inverse'
/ 			%ul.nav.nav-tabs
/ 				%li{class: !params[:past] ? :active : nil}
/ 					= link_to :active, events_path
/ 				%li{class: params[:past] ? :active : nil}
/ 					= link_to :inactive, events_path(past: false)
/ 			- @events.each do |event|
/ 				= render 'events/details', event: event

